<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200;900&display=swap" rel="stylesheet">
        <link type="text/css" href="{{ url_for('static', filename='succ.css')}}" rel="stylesheet" />
</head>
<body>
<body>
    <div class="info__container">
        <div class="success__title">
            ваш номер
        </div>
        <div class="success__subtitle">
            сохраните его до начала мероприятия
        </div>
        <div class="part__number">
          {{ last_add }}
        </div>
        <div class="reg__thanks">
            спасибо за регистрацию
        </div>
        </div>
</body>
</body>
</html>